<p style="color: green"><%= notice %></p>


<div class="container",  style = "width: 900px">
 <div style="outline: 1px solid grey;">
 <br>
  <h1>Профиль <%= @user.email%></h1>
  <br>
    <div class="row">

      <div class="col-md-6" >
      <% if @user.avatar?%>
        <%= image_tag @user.avatar.url,  style: "width:200px; height: 200px;" , class: 'img-fluid rounded-circle float-right'  if @user.avatar?  %> 
        <%else%>
         <%= image_tag("no.jpg",  style: "width:200px; height: 200px;" , class: 'img-fluid rounded-circle float-right') %>
          <% end %>
      </div>

      <div class="col-md-6">
      
        <h1 class="display-6"><%= @user.name %><%=  @user.surname%></h1>
             <h5 class="lead"><%= @user.about%></h5>
      
          <%if current_user == @user %>
            <%= link_to "Создать новый пост ", new_post_path %>
          <%else %>  
          <% if current_user.followed_users.include?(@user) %>
            <%= button_to "Unfollow", user_follow_path(user_id: @user.id, id:  @user.id), method: :delete %>
          <% else %>
            <%= button_to "Follow", user_follows_path(user_id: @user.id), method: :post %>
          <% end %>
           <% end %>
      
      </div>
    </div>
     
    <br>

        <div class="row">
          <div class="col-md-6">
           <h5>Список подписчиков:</h5>
       
      <% if @user.followers.present? %>
          <% @user.followers.each do |follower| %>
          <li><%=link_to  follower.email, follower %></li>
        <% end %>
      <% else %>
           <li>Нет подписчиков.</li>
      <% end %>
 
          </div>
          <div class="col-md-6">
            <h5>Подписан на:</h5>
      <% if @user.followed_users.present? %>
        <% @user.followed_users.each do |followed_user| %>
         <li><%=link_to  followed_user.email, followed_user %></li> 
       <% end %>
       <% else %>
        <li>Нет подписок.</li>
      <% end %>
    </ul>
 </ul>
 <br></div>
       
      
      </div>
    </div>
  </div>
  <br>

 <h2>Ваши посты</h2>

  <% @posts.reverse_each   do |post| %>

<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          <strong><%= post.user.email %> </strong>
        </div>
         <% if post.picture?%>
          <%= image_tag post.picture.url,  style: "width:414px; height: 450px;" if post.picture? %> 
            <%else%>
         <%= image_tag("post.jpg",  style: "width:400px; height:450px;") %>
         <% end %>
        <div class="card-body">
          <h5 class="card-title"><%=post.title %></h5>
          <div class="card-text"><%=post.description %></div>
          <span class="badge bg-primary"><%= post.tags%></span>
        </div>
        <div class="card-footer">
          
<div class="card-footer">
            <div class="post-likes">
                  <%like = current_user.likes.find_by(post: post)%>
                  <% if like.nil?%>
                     <%= button_to "like", likes_path,  params: {like: {post_id:post.id }}, method: :post, class: 'heart-button'%>
                     <%= post.likes.count %>
                  <%else%>
                      <%= button_to "Unlike", like_path(like), method: :delete, class: 'heart-button' %>
                      <%= post.likes.count %>
                  <%end%>          
             </div>
        </div>
          <button type="button" class="btn btn-secondary"><%= link_to "Комментарии", post, class:"navbar-brand" %></button>
          <% if user_signed_in? && current_user.id  == post.user.id %>
          <button type="button" class="btn btn-secondary"> <%= link_to "Редактировать пост", edit_post_path(post), class:"navbar-brand" %></button>
          <div>
          <%end%>
</div>
        </div>
      </div>
    </div>

</div>

  <% end %>
</div>
